h1 {
    color: white;
}

*{
    font-family: candyshop;
}

.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

a:link{
    color:wheat;
}
a:visited{
    color:blueviolet;
}

.menu{
    margin-right: 100px;
}

.menu a{
    margin-left: 50px;
}

.index:hover{
    border:solid;
}

.about:hover{
    border:solid;
}

.item p{
    position:absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%, -50%);
    opacity: 0;
}

.item:hover p{
    opacity: 1;
}

.item{
    position:relative;
}

.item:hover img{
    opacity: 0.5;
}

.title{
    font-size:300%;
}
